# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 

# Hostname
HOSTNAME=web-api-template

# MongoDB
MONGODB_URI=mongodb://localhost:27017/web-api

# Port
PORT=3000